:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--primary);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--dark);
}
header h1 {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}
header nav a,
#logout {
  display: inline-block;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
}
header a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--light-dark);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--tertiary);
}

button {
  background-color: var(--light-dark);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--tertiary);
}

post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid var(--primary);
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--tertiary);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: var(--dark);
}

header h1 {
  font-size: 1em;
  border: 2px outset var(--secondary);
  border-radius: 5px;
  background-color: var(--primary);
  padding: 1.25rem;
}

main {
  flex: 1;
  padding: 2% 4%;
}

nav {
  padding: 1.2rem;
  text-align: right;
  white-space: pre;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--light-dark);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--tertiary);
}

.delete-post-btn {
  background-color: red;
}

.delete-post-btn:hover {
  background-color: orangered;
}
.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title {
  font-style: italic;
  font-size: 1.25rem;
  color: var(--secondary);
}

.post .title span {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--secondary);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--primary);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input,
textarea {
  width: 80%;
}

.edit-post-form {
  margin-bottom: 5%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 1.25rem;
}

footer {
  border-top: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
